* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: linear-gradient(to right, red, yellow)
}
div {
	position: relative;
	left: 35em
}
div h1 {
	text-transform: uppercase;
	margin: 1em 0 0 0;
}
div input {
	margin: 1em 0 0 0;
	position: relative;
	left: 9em
}